*.Rproj*
.Rhistory
.RData
.Ruserdata
*pdf
*xlsx
*.py
*.ipynb
.ipynb_checkpoints/*
data/*
output/*
blupf90/**/H*
blupf90/**/fspak*
blupf90/**/G*
blupf90/**/freq*
blupf90/**/A*
blupf90/**/solution
blupf90/**/Check*
blupf90/**/freq*
blupf90/**/sum2pq*
blupf90/**/*.ord
blupf90/**/fort.*
